{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'learning_logs/style.css' %}">


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrin-to-fit=no">
    <title>My log</title>
  </head>
    <body>
	  <div class="header">
        <p style="font-size: 28px; text-align:center;">
          <a href="{% url 'learning_logs:index' %}">Learning Log</a> - 
          <a href="{% url 'learning_logs:topics' %}">Topics</a> - 
		  {% if user.is_authenticated %}
		    Hello, {{ user.username }}.  
		    <a href="{% url 'users:logout' %}">Log out</a>
		  {% else %}
		    <a href="{% url 'users:register' %}">Register</a> -  
		    <a href="{% url 'users:login' %}">Log in</a>
		  {% endif %}
        </p>
	  </div>
	  <div class="content">
        {% block content %}
        {% endblock %}
	  </div>
    </body>
</html>
        
